{% extends "parcels/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-9" id="map_canvas">
    </div>
    <div class="col-md-3">
        <table width="100%">
            <thead>
                <tr>
                    <th>Polígono</th>
                    <th>Parcela</th>
                </tr>
            </thead>
            <tbody>
                {% for parcela in parcelas %}
                    <tr>
                        <td>{{ parcela.poligono }}</td>
                        <td>
                            <input class="parcela-google-maps-checkbox" type="checkbox" data-parcela="{{ parcela.numero_parcela }}" data-poligono="{{ parcela.poligono }}">
                            {{ parcela.numero_parcela }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#tabla_parcelas').DataTable({
                "language": {
                    url: "/static/parcels/location/es_ES.json"
                }
            });
        } );

        function pad (str, max) {
            str = str.toString();
            return str.length < max ? pad("0" + str, max) : str;
        }

        var layers = [];
        var map;

        $('.parcela-google-maps-checkbox').change(function(){
            var polig = parseInt($(this).attr('data-poligono'));
            var parc = parseInt($(this).attr('data-parcela'));
            if($(this).is(':checked')) {
                layers[parc] = new google.maps.KmlLayer({
                    url: 'https://ovc.catastro.meh.es/Cartografia/WMS/BuscarParcelaGoogle3D.aspx?refcat=03127A'+ pad(polig, 3) + pad(parc, 5) + '0000BP&del=3&mun=127&tipo=3d',
                    suppressInfoWindows: false
                    //preserveViewport: true
                });
                
                if (layers[parc].getMap() == null) {
                    layers[parc].setMap(map);
                } else {
                    layers[parc].setMap(null);
                }
            } else {
                if (layers[parc].getMap() == null) {
                    layers[parc].setMap(map);
                } else {
                    layers[parc].setMap(null);
                }
            }
        });

        function initialize(){
            var myOptions = {
                zoom: 11,
                center: {lat: 38.691351, lng: -0.100658},
                mapTypeId: google.maps.MapTypeId.SATELLITE
            };
            map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}