{% extends "parcels/base.html" %}

{% block content %}

<table id="tabla_parcelas" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Parcela</th>
                <th>Apellidos y Nombre</th>
                <th>NIF</th>
                <th>Domicilio</th>
                <th>Teléfono</th>
                <th>m2</th>
                <th>Sector de Trabajo</th>
                <th>Autorización</th>
            </tr>
        </thead>
        <tbody>
            {% for parcela in parcelas %}
                <tr>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#myModal">
                            {{ parcela.numero_parcela }}
                        </a>
                    </td>
                    <td>{{ parcela.propietario }}</td>
                    <td>{{ parcela.propietario.nif }}</td>
                    <td>{{ parcela.propietario.domicilio }}</td>
                    <td>{{ parcela.propietario.telefono_movil }}</td>
                    <td>{{ parcela.metros_cuadrados }}</td>
                    <td>
                        {% for sector in parcela.sector_trabajo.all %}
                            {{ sector }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if autorizacion %}
                            Permiso concedido
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal for google Maps -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="map_canvas" class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#tabla_parcelas').DataTable({
                "language": {
                    url: "/static/parcels/location/es_ES.json"
                },
            });
        } );
    </script>
{% endblock %}